:root {
    --main-bg-color: #FFF3E5;
    --secondary-bg-color: #F6AC5C;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Poppins", serif;
    margin: 0;
}

li {
    list-style: none;
}

.secondary--section-color {
    background-color: var(--secondary-bg-color);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 80px;

    img {
        width: 250px;
    }

    ul {
        display: flex;
        column-gap: 50px;
        a {
            color: black;
        }
    }
}