:root {
    --main-bg-color: #FFF3E5;
    --secondary-bg-color: #F6AC5C;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Poppins", serif;
    margin: 0;
}

li {
    list-style: none;
}

.secondary--section-color {
    background-color: var(--secondary-bg-color);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 80px;

    img {
        width: 250px;
    }

    ul {
        display: flex;
        column-gap: 50px;
        a {
            color: black;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 30px 80px;

    img {
        width: 250px;
        height: 100%;
    }

    #footer_nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            padding: 0px;
        }
    }

    #copyright {
        width: 300px;
        border-top: 1px white solid;
        text-align: center;
    }

    h2, a, p {
        color: white;
    }



}